@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply text-neutral-500 underline;
    }
    .paragraph {
        @apply text-gray-600 mb-8 text-xl;
    }
    .lTitle {
        @apply text-3xl text-neutral-800 font-bold mb-3;
    }
    .project {
        @apply sm:w-355px mx-10 w-full rounded overflow-hidden shadow-lg shadow-slate-500;
    }
    .projectImg {
        @apply w-full h-64 object-cover;
    }
    .sTitle {
        @apply font-bold text-xl mb-2 text-neutral-700;
    }
    .projectDesc {
        @apply text-gray-700 text-base;
    }
    .button {
        @apply inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xl leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
    }
    .icon{
        @apply w-20 h-20 inline-block mx-auto rounded;
    }
    .title{
        @apply sm:text-8xl text-6xl text-white text-center font-bold mt-16 mb-10;
    }
}

html {
    scroll-behavior: smooth;
}

.svgItem {
    box-shadow: 0 0 10px 1px red;
}

#top {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }

.parall{
    position: relative;
    background:transparent;
    text-decoration:none;
  }
  
  .parall::before{
    position:absolute;
    top:0px;right:0px;bottom:0px;left:0px;
    transform:skewX(-30deg);
    background:rgb(212 212 212);
    z-index:-1;
    content:'';
  }

.h-top {
    height: -o-calc(100vh - 66px); /* opera */
    height: -webkit-calc(100vh - 66px); /* google, safari */
    height: -moz-calc(100vh - 66px); /* firefox */
    height: calc(100vh - 66px);
}

.icon1 {
    animation: floating 8s ease-in-out infinite;
    object-fit: none;
}

  
  @keyframes floating{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, 0px); }
  }